header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: steelblue;
  color:black;
  height: 80px;
  gap: 0 10px;

}

header > img {
  width: 50px;
}

header > span {
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
  font-size: 2rem;
}

main {
  width: 100%;
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;
  background-image: url("./assets/Melamine-wood-005.png")
}

.tenzies-dices-container {
  height: 60vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-content: space-between;
  align-content: space;
  border: red solid 5px;
}

.dice {
  border: antiquewhite solid 8px;
  width: 10vmin;
  min-width: 20px; 
  max-width: 100px; 
  aspect-ratio: 1 / 1; 
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: clamp(16px, 4vmin, 32px);
  font-weight: bold;
}


.isSelected {
  border: darkgreen solid 8px;
}


.dice:hover {
  border: darkgreen solid 8px;
}

button {
  padding: 0.75rem 1.5rem;     
  border: none;                 
  border-radius: 0.5rem;      
  background-color: steelblue;   
  color: #fff;                 
  font-size: 1rem;             
  font-weight: 600;     
  cursor: pointer;             
  display: inline-flex;    
  align-items: center;
  justify-content: center;
  margin-top: 50px;           
}


@media (max-width: 600px) {
  .tenzies-dices-container {
  height: 60vh;
  width: 60vw;
  display: grid;
  gap: 3rem;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  justify-content: center;
  align-content: center;
}

  .dice {
    border-width: 3px;
    font-size: clamp(14px, 4vmin, 24px);
  }

}

