header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: antiquewhite;
  color:black;
  height: 80px;
  gap: 0 10px;

}

header > img {
  width: 50px;
}

header > span {
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
  font-size: 2rem;
}